.list-tests-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 60px clamp(0px, 10%, 15%);

    .block-head{
        &-greating{
            font-size: 52px;
            color: #9a9a9a;
            font-weight: 600;
        }

        &-full-name{
            font-size: 52px;
            color: #5a5a5a;
            font-weight: 600;
        }
    }

    .block-body{
        margin-top: 50px;
    }
}